@model IEnumerable<Tb_Orders>
@{
    ViewData["Title"] = "Index";
    Layout = "~/Areas/AdminPanel/Views/Shared/_Layout.cshtml";
}
@section Styles
{
    <link rel="stylesheet" href="~/Admin/css/jquery.dataTables.min.css">
}
@if (ViewBag.Success != null)
{
    <div class="alert alert-success alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button> Well done! You successfully read this important alert message.
        @ViewBag.Success
    </div>
}
@if (ViewBag.fail != null)
{
    <div class="alert alert-danger alert-dismissible" role="alert">
        <button type="button" class="close" data-dismiss="alert" aria-label="Close"><span aria-hidden="true"><i class="notika-icon notika-close"></i></span></button>
        @ViewBag.fail
    </div>
}
<!-- Data Table area Start-->
<div class="data-table-area">
    <div class="container">


        <div class="row">
            <div class="col-lg-12 col-md-12 col-sm-12 col-xs-12">
                <div class="data-table-list">
                    <div class="basic-tb-hd">
                        <h2>All Ordes</h2>
                        @*<p>It's just that simple. Turn your simple table into a sophisticated data table and offer your users a nice experience and great features without any effort.</p>*@
                    </div>
                    <div class="table-responsive">
                        <table id="data-table-basic" class="table table-striped">
                            <thead>
                                <tr>
                                    <th>Full Name</th>
                                    <th>Email</th>
                                    <th>Phone</th>
                                    <th>Create At</th>
                                    <th>Expire</th>
                                    <th>Status</th>
                                    <th>AccountNumber</th>
                                    <th>AccountNumber2</th>
                                    <th>Code</th>
                                    <th>Pay Type</th>
                                </tr>
                            </thead>
                            <tbody>
                                @foreach (var item in Model)
                                {
                                    <tr>
                                        <td>@item.FullName</td>
                                        <td>@item.Email</td>
                                        <td>@item.Mobile</td>
                                        <td>@item.CreateAt.ToString("dd/MM/yyyy")</td>

                                        @if (item.SubmitDate == DateTime.MinValue)
                                        {
                                            <td>
                                                Pending
                                            </td>
                                        }
                                        else
                                        {
                                            if (item.SubmitDate.Subtract(DateTime.Now).TotalDays < 0)
                                            {
                                                <td>Expired</td>
                                            }
                                            else
                                            {
                                                <td>@item.SubmitDate.Subtract(DateTime.Now).TotalDays.ToString("F0")</td>
                                            }


                                        }

                                        <td>@item.status</td>
                                        <td>@item.Account</td>
                                        <td>@item.Account2</td>
                                        <td>@item.AccountNumber</td>
                                        <td>@item.Paystatus</td>
                                    </tr>
                                }

                        </table>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
@section Scripts
{
    <script src="~/Admin/js/data-table/jquery.dataTables.min.js"></script>
    <script src="~/Admin/js/data-table/data-table-act.js"></script>
}